*{font-family: 'Kanit', sans-serif;}
* .logo-font{font-family: 'Happy Monkey', cursive;}
* .text-font{font-family: 'K2D', sans-serif;}
* .btn{
    border-radius: 100px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
* .btn-rounded{
    width: 40px;
    height: 40px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
* .btn-red{
    background: #fa2829 !important;
    color: white !important;
}
* .btn-outline-red{
    border: solid 1px #fa2829 !important;
    background: none !important;
    color: #fa2829 !important;
}
* .text-red{color: #fa2829 !important;}
* .bg-red{background: #fa2829 !important;}
* .border-red{border: solid 1px #fa2829 !important;}

* .rounded-nm{border-radius: 18px !important;}
* .rounded-50{border-radius: 100px !important;}
* .object-cover{object-fit: cover !important;}
* .preview-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
* .preview-img-2{
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
* .img-list{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
}
* .pos-bottom-right{
    right: 35px;
    bottom: 20px;
}
* .pos-br{
    right: 13px !important;
    bottom: 7px !important;
}
* .pos-bottom-left{
    left: 15px !important;
    bottom: 10px !important;
}

#addbook{
    width: 60px;
    height: 60px;
    font-size: 24px;
    padding: 10px !important;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
body{background: #f2f2f2 !important;}

textarea{resize: none !important;}
textarea::-webkit-scrollbar {
    width: 18px !important;
    background-color: rgba(0,0,0,0);
}
textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
}

.custom-file-label::after {
    border-radius: 100px !important;
    background: #fa2829 !important;
    color: white !important;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #dddddd; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    /*color: #fa2829;*/
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
